.card {
    background: rgb(245, 205, 205);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    flex-direction: column;
}

.checkbox-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.check {
    margin-right: 10px;
}

.ticket-description {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #666;
}

.bottom.icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card-icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.card-icon {
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.bottom.icon div {
    display: flex;
    align-items: center;
}

.bottom.icon h3 {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.bottom.icon svg {
    margin-right: 5px;
    fill: #007bff;
}
