.kanban-board {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.kanban-column {
  flex: 1;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
}

.kanban-column h2 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.priority-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.kanban-column .card {
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kanban-column .card:last-child {
  margin-bottom: 0;
}

.space-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 420px;
}

.content {
  flex-grow: 1;
}

.add-icon {
  display: flex;
  gap: 8px;
}

.add-icon svg {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.add-icon svg:hover {
  color: #007bff;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.card-header {
  display: flex;
  align-items: center;
}

.checkbox-title {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.check {
  display: none;
}

.custom-checkbox {
  width: 14px;
  height: 14px;
  border: 2px solid #666;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check:checked + .custom-checkbox {
  background-color: #007bff;
  border-color: #007bff;
}

.check:checked + .custom-checkbox::after {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.ticket-description {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #666;
}

.bottom.icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.card-icon {
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.bottom.icon div {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.bottom div {
  border: 2px solid #666;
  transition: border-color 0.3s ease;
}

.bottom.icon div:hover {
  border-color: #007bff;
}

.bottom.icon h3 {
  margin: 0;
  font-size: 1rem;
  color: #727272;
}

.bottom.icon svg {
  margin-right: 5px;
  fill: #5e6b78;
}
